/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Helvetica neue', Arial, sans-serif; */
    font-family: 'Segoe UI' , Tahoma, Verdana;
    font-size: 15px;
}


/* contenuto principale spotify */
.container {
    display: flex;
    height: calc(100vh - 100px);
}

.col-sx {
    background-color: black;
    width: 210px;
    height: 100%;
    flex-shrink: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-dx {
    background-color: #141922;
    flex-grow: 1;
    overflow-y: auto;
}

/* left part */
#logo {
    height: 40px;
    margin: 18px 0;
}

#little-logo {
    display: none;
    height: 27px;
    margin-top: 10px;
}

.margin-15 {
    margin-left: 15px;
}

.col-sx ul li a {
    color: #949494;
    font-size: 13px;
    text-decoration: none;
    line-height: 37px;
    font-weight: 700;
}

li img {
    height: 22px;
    vertical-align: middle;
}

.left-border {
    border-left: 3px solid greenyellow;
    height: 33px;
    display: inline-block;
    margin-right: 6px;
    margin-left: -13px;
    vertical-align: -13px;
}

h5 {
    color: white;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 700;
}

#list-play {
    height: 60%;
    overflow-y: auto;
}

 .button {
    background-color: #949494;
    height: 40px;
    width: 20%;
    text-align: center;
    margin-top: 9px;
    font-size: 25px;
    padding: 8px;
}

#crea {
    margin-left: 10px;
    font-size: 16px;
    vertical-align: 5px;
}

#download {
    height: 17px;
    
}

#installa {
    color: #949494;
    vertical-align: 4px;
    margin-left: 10px;
}

hr {
    margin: 10px 0;
    border-color: #949494;
    margin-right: 15px;
}

#profile {
    height: 27px;
    background-color: #949494;
    border-radius: 10px;
}

#utente {
    color: white;
    font-size: 17px;
    font-weight: 600;
    vertical-align: 6px;
    margin-left: 10px;
}

.col-sx ul li a:hover {
    color: white;
}

li a i:hover {
    background-color: white;
}

/* mobile version */
@media screen and (max-width: 552px) {

    .col-sx {
        flex-shrink: 0;
        width: 45px;
    }

    .margin-15 {
        margin: 0 auto;
        margin-left: 8px;
    }
    
    #little-logo {
    display: block;
    }

    #home {
        border: none;
    }

    #logo , ul li a span , h5 , #list-play , #installa , hr , #utente {
        display: none;
    }

    #download {
        display: block;
        margin-bottom: 20px;
        margin-left: 2px;
    }
}

/* right part */
.banner {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 900;
    display: flex;
    justify-content: flex-end;
}

.banner a {
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 22px;
    margin-right: 235px;
    border: 1px solid white;
    border-radius: 25px 25px;
    text-align: center;
    line-height: 40px;
    height: 43px;
    width: 220px;
    display: block;
}

.banner a:hover {
    font-size: 14px;
    height: 45px;
    width: 240px;
}

.flex-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;
    margin-top: 120px;
}

.flex-list li a {
    text-decoration: none;
    color: #949494;
    font-weight: 700;
}

#bot {
    position: relative;
}

#bot::after {
    content: "";
    position: absolute;
    left: 33%;
    bottom: -5px;
    width: 38%;
    height: 2px;
    background-color: greenyellow;
    margin-top: 10px;
    
}

.flex-list li a:hover {
    color: white;
}

/* sezione musica */
h2 {
    font-size: 30px;
    color: white;
    margin-top: 25px;
    margin-bottom: 10px;
}

#recently {
    font-size: 30px;
    color: white;
    margin-top: 60px;
    margin-bottom: 40px;
}

.container-section {
    width: 97%;
    margin: 0 auto;
}

aside {
    color: #949494;
    font-size: 18px;
    margin-bottom: 40px;
}

.row-main {
    display: flex;
    gap: 20px;
}

.col-main {
    /* DEBUG */
    /* background-color: burlywood;
    height: 200px;
    border: 1px solid red; */
    width: calc(100%/6);
}

.row-main img {
    max-width: 100%;
    cursor: pointer;
}

.col-main h4 {
    font-size: 19px;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.col-main aside {
    color: #949494;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

#lana , #einaudi {
    border-radius: 50%;
}


.card-image{
    position: relative;
}


 .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 60px;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;

}

.col-main:hover .overlay {
    display: flex;
}

.radius-over {
    border-radius: 50%;
}


/* tablet version */
@media screen and (max-width: 878px) {
    
    .row-main {
    flex-wrap: wrap;
    }

    .col-main {
    width: calc(100%/4 - 15px);
}

}

/* large mobile version */
@media screen and (max-width: 639px) {
    
    .col-main {
    width: calc(100%/2 - 12px);
    }
}

@media screen and (max-width: 552px) {
    
    .banner a {
     margin-right: 70px;
    
}
}

/* controllo riproduzione */
.container-footer {
    background-color: #282828;
    height: 100px;
    width: 100%;
}

.cont {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.col-footer {
    /* DEBUG */
    /* background-color: aqua;
    height: 70px; */
    margin: 15px;
    display: flex;
    gap: 15px;
}

#little-song {
    height: 45px;
}

#title-song {
    color: white;
    font-weight: 600;
    margin-top: 5px;
}

#name {
    color: #949494;
    font-size: 13px;
    width: 75px;
    display: block;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.i-pos {
    margin-top: 18px;
    margin-left: 35px;
    word-spacing: 10px;
}

.i-pos a {
    text-decoration: none;
    font-size: 18px;
}

.play-row {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.play-row i {
    font-size: 20px;
}

#circle {
    font-size: 32px;
    line-height: 19px;
}

#circle:hover {
    font-size: 35px;
}

.col-footer .play-row {
    margin-top: 5px;
}

.play-row span {
    color: white;
    font-size: 11px;
    font-weight: 600;
}

.col-footer i {
    cursor: pointer;
}

.music-bar {
    width: 45%;
    height: 4px;
    background-color: #615d5d;
    border-radius: 5px;
    margin-top: 6px;
    cursor: pointer;
}

.time-bar {
    width: 81px;
    height: 4px;
    background-color: #dbd7d7;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.ball {
    position: absolute;
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: -6px;
    display: none;
}

.width-bar {
    width: 90px;
}

.little-bar {
    width: 40px;
}

 .music-bar:hover .time-bar {
    background-color: greenyellow;
    display: block;
}

.music-bar:hover .ball {
    display: block;
}

.ball-volume {
    margin-left: 39px;
}

/* tablet version */
@media screen and (max-width: 724px) {

    .col-footer {
    gap: 4px;
    margin: 0;
    margin-top: 30px;
}

.i-pos {
        margin-top: 17px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-left: 14px;
    }
    
}

/* mobile version */
@media screen and (max-width: 552px) {
    
    .i-pos {
        margin-top: -8px;
        margin-left: 0px;
    }

}


